body{
	background-color: #f8f8f8;
	color: #242450;
}
figure{
	text-align: center;
	border-left: solid;
	font-style: italic;
}
form{
	border: 1px #242450 solid;
}
h1{
	color: #141440;
	font-size: 2em;
}
#principal{
	border: 1px #242450 solid;
	border-top: none;
	border-bottom: none;
	padding: 10px;
	background-color: #efefef;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	position: absolute;
	left: 20%;
	width: 56%;
	min-width: 50%;
}
#principal p{
	text-align: justify;
	font-size: em;
}	
#principal a:hover{
	color: #efefef;
}
#principal *:hover{
	color: #545470;
}
#menu{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	background-color:#fedcba;
	border:1px solid;
	border-radius: 1px 20px;
	padding: 5px;
	
	position: fixed;
	top:15px;
	left: 15px;
}
#choix .formPart{
	border: 1px solid;
	padding: 5px;
	margin: 5px;
	
	text-align: center;
	align-items: center;
	width: 85%;
	
	background-color: #efefef;
	border: 1px #242450 solid;
	border-left: none;
	border-right: none;
}
#choix .formPart *.titre {
	padding: 0px;
	margin:1px;
	font-size: 1.1em;
	font-weight:bold;
}
#choix{
	display: flex;
	flex-direction: column;
	align-items:center;
	flex-wrap : nowrap;
	
	height: 95%;
	width: 18%;
	
	position: fixed;
	top: 2%;
	right: 1%;
	
	border: 1px solid;
	border-radius: 10px 1px 1px 10px;
	margin: 5px;
	padding: 5px;
	overflow-y: auto;
	
	transition: opacity 0.1s;
}
#menu a, #menu a:visited{
	border:1px solid;
	padding: 5px;
	margin: 5px;
	color: #242450;
}
#menu a:hover{
	color: #fedcba;
}
#info{
	position: absolute;
	bottom:1000px;
	right:10px;
	max-width:20%;
	
	border: 1px solid;
	padding:5px;
	margin:10px;
	
	opacity:0;
	transition: bottom 0.5s,opacity 0.5s;
}
#info p{
	text-align:justify;
}
#chargement{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:-2;
	
	background-color: #fedcba;
}
canvas{
	border:none;
}
video{
	border:1px dashed;
	padding:1px;
}
video:hover{
	border: none;
	padding: 2px;
}
a:hover{
	background-color: #242450;
	color: #efefef;
}
em{
	font-style: italic;
}
strong{
	font-style: oblique;
	font-weight: bold;
}
mark{
	background-color:#fedcba;
	color:#123456;
}
a{
	color: #202060;
}
table,td{
	border: 1px black solid;
	border-collapse: collapse;
}
td{
width: 50px;
height: 25px;
text-align: center;
}
/* Class et id */

{/*Quelques id*/
#id{
	font-weight: bold;
	text-decoration: overline;
}
#solid{
	border: solid;
}
#dotted{
	border-left: 3px blue dotted;
	border-right: 3px blue dotted;
}
#dashed{
	border-right: 1px dashed;
	border-bottom: 1px dashed;
}
#double{
	border: 3px double;
}
#rouge{
	background-color:#AA0066;
	color:#FF0000;
}
}

{/*Quelques classes*/
.essai{
	text-decoration: underline;	
}
.particulier{
	text-decoration: line-through;
}
.inline{
	border: 1px solid;
	padding: 5px;
	margin: 5px;
}
.inline *{
display: inline;
}
td.veryHigh{
	background-color:blue;
}
td.high{
	background-color:green;
}
td.medium{
	background-color:yellow;
}
td.low{
	background-color:orange;
}
td.veryLow{
	background-color:red;
}
}
