:root {
  --couleur-principale: #d8d8f8;
  --couleur-seconde: #c0c0dc;
  --couleur-gris-clair: #e0e0e0;
  --couleur-gris-tres-clair: #f8f8f8;
}

body {
	background-color: var(--couleur-gris-tres-clair);
  color: black;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#principal {
	border: 1px black solid;
	padding: 1em;
	background-color: var(--couleur-gris-clair);
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 50%;
	min-width: 35em;
}

aside {
  display: flex;
	flex-direction: column;
	align-items:center;
	
	height: 95%;
	max-width: 22.5%;
	min-width: 15em;
	
	background-color: var(--couleur-gris-clair);
	border: 1px black solid;
	padding: 0.2em;
	
	transition: opacity 0.1s;
}

.formPart, .symb {
  padding: 0.2em;
  margin: 0.2em;
  width: calc(100% - 2 * 2 * 0.2em);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

#symbDiv {
  flex-direction: column;
  align-items: center;

}

.formPart {  
  background-color: var(--couleur-seconde);
}

.symb {
  background-color: var(--couleur-gris-clair);
}

input[type=number] {
  max-width: 50%;
  min-width: 4em;
}

p.icon {
  width: 1em;
  height: 1em;
  margin: 0em;
  padding: 0.1em;
  cursor: pointer;
}

/* Infobox */

#info {
	position: absolute;
	bottom:1000px;
	right:10px;
	max-width:20%;
	
	border: 1px solid;
	padding:5px;
	margin:10px;
	
	opacity:0;
	transition: bottom 0.5s,opacity 0.5s;
}

#info p {
	text-align:justify;
}

#chargement {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:-2;
	
	background-color: var(--couleur-principale);
}

/* Gestion des dropdown */

input.dropdown {
  appearance: none;
}

input.dropdown::before {
  content: '\2728';
  font-size: 4em;
}

input.small.dropdown::before {
  font-size: 1em;
}

input.dropdown:not(:checked)::before {
  filter: grayscale(100%);
}

input.dropdown:checked::before {
  filter: none;
}


input.dropdown:checked + * {
  display: flex;
}

input.dropdown:not(:checked) + * {
  display: none;
}

/*Quelques tags nécessaires*/


p {
	text-align: justify;
	font-size: 1em;
}

h1 {
	font-size: 2em;
}

h2 {
  font-s
}

em {
	font-style: italic;
}

strong {
	font-style: oblique;
	font-weight: bold;
}


.template {
	display:none;
}

@media (width <= 70em) {
  body {
    flex-direction: column;
    align-items: center;
  }
  
  aside, #principal {
    max-width: unset;
    min-width: unset;
    width: calc(95% - 4 * 0.5em);
    
    padding: 0.5em;
    margin: 0.5em;
  }
  
  #choix {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .formPart, .symb {
    width: unset;
  }
  
  #symbDiv {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
