body {
	background-color: #f8f8f8;
  color: #242450;
}

h1 {
	color: #141440;
	font-size: 2em;
}

#principal {
	border: 1px #242450 solid;
	border-top: none;
	border-bottom: none;
	padding: 10px;
	background-color: #efefef;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	position: absolute;
	left: 20%;
	width: 56%;
	min-width: 50%;
}

#principal p {
	text-align: justify;
	font-size: em;
}

#principal a:hover {
	color: #efefef;
}

#principal *:hover {
	color: #545470;
}

#menu {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	background-color:#fedcba;
	border:1px solid;
	border-radius: 1px 20px;
	padding: 5px;
	
	position: fixed;
	top:15px;
	left: 15px;
}

#choix {
	display: flex;
	flex-direction: column;
	align-items:center;
	flex-wrap : nowrap;
	
	height: 95%;
	width: 18%;
	
	position: fixed;
	top: 2%;
	right: 1%;
	
	background-color: #efefef;
	border: 1px solid;
	border-radius: 10px 1px 1px 10px;
	margin: 5px;
	padding: 5px;
	overflow-y: auto;
	
	transition: opacity 0.1s;
}

.formPart {
	border: 2px solid;
	padding: 5px;
	margin: 5px;
	
	text-align: center;
	align-items: center;
	width: 85%;
	
	background-color: #f8f8f8;
	border: 1px #242450 solid;
	border-left: none;
	border-right: none;
}

#choix  div:hover {
	background-color:#d0c0f0 ;
}

.formPart *.titre {
	padding: 0px;
	margin:1px;
	font-size: 1.1em;
	font-weight:bold;
}

.symb {
	border: none;
	padding: 5px;
	overflow: auto;
}

#choix .symb:hover,.symb div:hover {
	background-color:#efefef;
}

#choix .symb:nth-child(1n+3) {
	border-top: 1px #242450 solid;
}

#choix .symb:hover {
	border-left:none;
	border-right:none;
}

.formPart img {
	float:right;
	padding: 3px;
	border:none;
	background-color:#efefef;
	margin-top:2px;
}

.formPart img:hover {
	float:right;
	padding: 2px;
	border:1px #242450 solid;
}

.template {
	display:none;
}

#menu a, #menu a:visited {
	border:1px solid;
	padding: 5px;
	margin: 5px;
	color: #242450;
}

#menu a:hover {
	color: #fedcba;
}

#info {
	position: absolute;
	bottom:1000px;
	right:10px;
	max-width:20%;
	
	border: 1px solid;
	padding:5px;
	margin:10px;
	
	opacity:0;
	transition: bottom 0.5s,opacity 0.5s;
}

#info p {
	text-align:justify;
}

#chargement {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:-2;
	
	background-color: #d0c0f0;
}

/*Quelques tags nécessaires*/

em {
	font-style: italic;
}

strong {
	font-style: oblique;
	font-weight: bold;
}

mark {
	background-color:#fedcba;
	color:#123456;
}

a {
	color: #202060;
}
