:root {
  --couleur-principale: #d8d8f8;
  --couleur-gris-clair: #efefef;
}

.template {
	display:none;
}

body {
	background-color: #f8f8f8;
  color: #242450;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#principal {
	border: 1px #242450 solid;
	border-top: none;
	border-bottom: none;
	padding: 10px;
	background-color: var(--couleur-gris-clair);
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	
	width: 50%;
	min-width: 35em;
}

aside {
  display: flex;
	flex-direction: column;
	align-items:center;
	flex-wrap : nowrap;
	
	height: 95%;
	max-width: 18%;
	
	background-color: var(--couleur-gris-clair);
	border: 1px solid;
	border-radius: 10px 1px 1px 10px;
	margin: 5px;
	padding: 5px;
	overflow-y: auto;
	
	transition: opacity 0.1s;
}

.formPart {
	text-align: center;
	align-items: center;
	width: 85%;
}


.symb {
	overflow: auto;
}

.symb:nth-child(1n+3) {
	border-top: 1px #242450 solid;
}

p.icon {
  width: 1em;
  height: 1em;
}

/* Infobox */

#info {
	position: absolute;
	bottom:1000px;
	right:10px;
	max-width:20%;
	
	border: 1px solid;
	padding:5px;
	margin:10px;
	
	opacity:0;
	transition: bottom 0.5s,opacity 0.5s;
}

#info p {
	text-align:justify;
}

#chargement {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index:-2;
	
	background-color: var(--couleur-principale);
}

/* Gestion des dropdown */
/* Inutile : il n'y a pas de dropdown */

input.dropdown {
  appearance: none;
}

input.dropdown:not(:checked)::before {
  content: "\2b07";
}

input.dropdown:checked::before {
  content: "\2b06";
}


input.dropdown:checked + div {
  display: inherit;
}

input.dropdown:not(:checked) + div {
  display: none;
}

/*Quelques tags nécessaires*/


p {
	text-align: justify;
	font-size: 1em;
}

h1 {
	font-size: 2em;
}

h2 {
  font-s
}

em {
	font-style: italic;
}

strong {
	font-style: oblique;
	font-weight: bold;
}
